html {
  font-size: 18px;
  line-height: 1.4;
  font-family: helvetica;
}

.banner {
  display: flex;
  justify-content: center;
  background-image: url("resources/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
}

.sitecontainer {
  display: flex;
  flex-direction: column;
  width: 960px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  padding: 1rem 2rem;
  margin-top: 1rem;
}

.header img {
  height: 1.5rem;
  padding-right: 1rem;
}

.title {
  margin-right: auto;
}

.nav {
  padding-left: 2rem;
}

.menu {
  display: none;
}

.caption {
  font-family: helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2rem;
  background-color: white;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: -2rem;
}

.caption h1 {
  margin: 0;
}

@media only screen and (max-width: 1024px) {
  .sitecontainer {
    width: 100%;
    /*overflow: hidden;*/
  }
  .banner {
    height: 22rem;
   }
  .header {
    margin-top: 0;
  }
  .caption {
    font-size: 1.33rem;
    text-align: center;
    padding: 0.75rem 4rem;
    margin-right: 2rem;
   }
}

@media only screen and (max-width: 670px) {
  .banner {
    height: 17rem;
    background-position: 20%;
  }
  .sitecontainer {
    width: 100%;
  }
  .title {
    display: none;
    }
  .menu {
    display: inline-block;
  }
  .nav {
    display: none;
  }
  .caption {
    margin-top: 9rem;
    font-size: 1rem;
    padding: 1rem;
    margin-left: 0;
    margin-right: 0;
}
  .caption h1 {
    text-align: center;
  }
}

.infobox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.graphics {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  justify-content: space-between;
  text-align: center;
}

.icon {
  margin-left: 6rem;
}

.graphics .paper {
  width: 3.5rem;
}

.graphics img {
  width: 5rem;
}

@media only screen and (max-width: 1024px) {
  .infobox {
    width: 100%;
  }
}

.information {
  display: flex;
  width: 100%;
}

.info {
  display: block;
  width: 35%;
  padding-bottom: 5rem;
  padding-top: 3rem;
}

.info h4 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1rem;
  padding: 1.25rem 0.5rem;
  background-color: cadetblue;
  width: 10rem;
  color: white;
}

.info p {
  padding-top: 1rem;
}

.appointments {
  margin-left: 5%;
}

@media only screen and (max-width: 670px) {
  .infobox {
    flex-direction: column;
    align-content: space-between;
    padding: 3.77rem 0;
  }
  .graphics {
    margin-top: 3.77rem;
    margin-bottom: 3.77rem;
    font-size: 0.77rem;
  }
  .ruler {
    margin-top: 1.54rem;
  }
  .truck {
    margin-top: 1.54rem;
    margin-bottom: 3.77rem;
  }
  .icon {
    margin-left: 0;
  }
  .information {
    flex-direction: column;

  }
   .info {
     width: 100%;
  }
   .info h4 {
    text-align: center;
    width: 100%;
  }
  .info p {
    font-size: 0.77rem;
  }
  .appointments {
    margin-top: 5rem;
    margin-left: 0;
  }
}

.footer {
  display: flex;
  background-color: azure;
  align-items: center;
}

.footer img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}

.footer p {
  padding: 4rem 0 4rem 0;
}

@media only screen and (max-width: 670px) {
  .footer p {
    display: none;
  }
  .footer {
    justify-content: center;
  }
}
